.TodoItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: relative;
}
.TodoItemButton{
    position: relative;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    height: 45px;
    margin-inline: auto;
    border: 0;
    border-radius: 10px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.TodoItem > .material-icons-outlined{
    margin-inline: 10px;
    font-weight: 800;
    color: aquamarine;
}

.checked{
    cursor: pointer;
    background-color: black;
    font-size: 0.9rem;
    color: aliceblue;
    min-width: 35px;
    height: 35px;
    border-radius: 10px;
    color: aliceblue;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    border: none;
}
.checkedDone{
    background-color: rgb(68, 216, 125);
    color: whitesmoke;

}
.itemDone{
    text-decoration: line-through;
    color: gray;
    background-color: rgba(0, 0, 0, 0.445);
}

.delete{
    position: absolute;
    justify-self:right;
    align-content: flex-end;
    cursor: pointer;
}