

.TodoButton{
    position: absolute;
    top: 85%;
    right: 20px;
    width: 45px;
    height: 45px;
    padding: 5px;
    border-radius: 50%;
    border: 0;
    z-index: .9;
    
}
.TodoButton .material-icons-round:hover{
    transform: rotate(222deg);
}
.TodoButton .material-icons-round{
    transform: rotate(0);
    transition: .3s ease;
    font-weight: 800;
    font-size: 2rem;
}
.delete{
    right: 0;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    font-size: 0.9rem;
    width: auto;
    height: 45px;
    margin-right: 5px;
}