.App {
  text-align: center;
  background-image: linear-gradient(to bottom, #051937, #001e57, #002076, #001d94, #0e0eaf);
  color: whitesmoke;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  max-width: 500px;
  min-height: 91vh;
  position: relative;
}

