.TodoCounter{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.377);
    border-radius: 20px;
    padding-block: 5px;
    padding-inline: 25px;
    margin-bottom: 20px;
    margin-inline: auto;
}
.headerImg{
    width: 30%;
    max-width: 200px;
}
h2>p{
    line-height: 8px;
}
h2>p>span{
    color: rgb(118, 117, 179);
}
.TodoConter--loading{
    opacity: 25%;
}